h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px ;
  text-align: center;
  background-color: #888;
  letter-spacing: 1px;
  font-size: 28px;
}

.container {
padding: 25px 5px ;
}

.boton {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.boton button {
    margin-left: 15px;
    padding: 15px;
    border-radius: 10px;
}

.boton button:hover{
   color: #7204c7;
   background-color: #888;
}   