<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-random-user [randContacts]="Contact"></app-random-user>

    <button mat-raised-button color="primary" (click)="generarContactAlea()">Generar contacto aleatorio</button>

   <div *ngIf="">

   </div>
    <button mat-raised-button color="primary" (click)="obtenerListaContactos(10)">obtener 10 contactos aleatorios</button>
    <!-- <app-random-user></app-random-user> -->
    <
</body>
</html>

